$--fs : 1.5rem;
$--fw : 700;
$--bg-color:#000;
$--color:#4f3b78;
$--color-bright:#dbd8e3;
$--color-dim:#c4bbf0;
.namebox{
    position: absolute;
    width:260px;
    height:50px;
    background: $--color;
    border: solid 10px $--color-dim;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom:10%;
    right:10%;
    font-family:'Cascadia code';
    overflow-x:scroll; 
    .box{
        color: $--color-dim;
        width:100%;
        font-size: $--fs;
        font-weight: $--fw;
        white-space: nowrap;
        //animation: movetoleft 2s linear infinite;
    }
    a{
        color: $--color-dim;
        text-decoration: none;
    }
}

.namebox::-webkit-scrollbar {
    display: none;
  } 

 @keyframes movetoleft {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100px);
    }
    75% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
} 