.work{
    position:absolute;
    top:40%;
    left:30%;
    font-size: 50px;
    color:white;
    font-family: sans-serif;
    &.animate__animated{
        animation-iteration-count: infinite;
    }
}
.owner-name{
    position:absolute;
    top:48%;
    left:55%;
    font-size: 50px;
    color:white;
    font-family: sans-serif;
}