$--bg-color:#181818;
$--color:#82b71b;
$--color-bright:#fff;
$--color-dim:#4d4d4e;


.nav-bar {
    background: $--bg-color;
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    right:0;
    z-index: 3;
    min-height: 500px;
  
    .logo {
      color:$--color;
      display: block;
      padding: 8px 0;
      position:relative;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      &.logoW{
        width:45px;
        height:auto;
        margin:auto;
        font-weight: 900;
        &.animate__rubberBand {
                animation-duration: infinite;
            }
      }
      &.logo-above{
        color:$--color-bright;
        position:absolute;
        top:6px;
        left:13px;
      }
      .logo-subtitle{
        color:$--color-bright;
        text-transform: uppercase;
        width:100%;
        height:28px;
        display:block;
        font-size: 1.8rem;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        &.animate__backInRight:hover{
          animation-duration: infinite;
        }
        &.animate__backInLeft:hover{
          animation-duration: infinite;
        }
        &.left-side{
          text-align: left;
          padding-left:15%;
        }
        &.right-side{
          padding-left: 25%;
        }
     }
    }
  
    nav {
      display: block;
      text-align: center;
      position: absolute;
      height: 210px;
      top: 50%;
      margin-top: -120px;
      width: 100%;
      color:$--color-dim;
      a {
        font-size: 26px;
        color: $--color-dim;
        display: block;
        line-height: 51px;
        height: 65px;
        position: relative;
        text-decoration: none;
  
        i {
          transition: all 0.3s ease-out;
        }
  
        &:hover {
          color: $--color;
  
          svg {
            opacity: 0;
          }
  
          &:after {
            opacity: 1;
          }
        }
  
        &:after {
          content:attr(dataAttr);
          font-size: 12px;
          letter-spacing: 2px;
          position: absolute;
          bottom: 0;
          display: block;
          width: 100%;
          text-align: center;
          opacity: 0;
          -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }
      }
  
  
      a.active {
        svg {
          color: $--color;
        }
      }
    }
  
    ul {
      position: absolute;
      bottom: 20px;
      width: 100%;
      display: block;
      padding: 0;
      list-style: none;
      text-align: center;
      margin: 0;
  
      li {
        a {
          padding: 9px 0;
          display: block;
          font-size: 20px;
          line-height: 16px;
          color: $--color-dim;
          position:relative;
          -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
          &:after{
            content:attr(dataAttr);
            opacity:0;
            background:$--color-bright;
            font-size: 12px;
            letter-spacing: 2px;
            position: absolute;
            top:11px;
            right:60px;
            border-radius: 2px;
            display: block;
            width: 120%;
            text-align: center;
            
          }
          div{
            position:absolute;
            opacity:0;
            top:15px;
            right:56px;
            transform: rotate(45deg);
            width:7px;
            aspect-ratio: 1;
            background: $--color-bright;
          }
          &:hover{
            &:after{
              color:$--color-dim;
              opacity:1;
            }
            div {
              color:$--color-dim;
              opacity: 1;
             }
          }
                    
        }
      }
    }
  }
  